{% extends "basic_ui/base.html" %}

{% load django_tables2 %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {% render_table table %}

    <h3>Compare Campaigns</h3>

    Compare the following, space-separated campaign IDs: <input id="comparison_keys" onkeydown="handle_comparison_input()">

    <button id="make_comparison" onclick="open_comparison()">make comparison</button>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        function handle_comparison_input() {
            if(event.key === 'Enter') {
                open_comparison();
            }
        }
        function open_comparison() {
            const comparison_keys = document.getElementById("comparison_keys").value.trim().replace(/\s+|,/g, ' ');
            if (comparison_keys.length === 0) {
                    return;
            }
            base_url = window.location.href.split('?')[0];
            if (comparison_keys.length === 1) {
                const url = base_url + 'campaign/' + comparison_keys + '/';
                window.open(url, '_blank');
                return;
            }
            const all_ids = comparison_keys.split(' ');

            for (const curr_id of all_ids) {
                const copy = [...all_ids]
                const index = copy.indexOf(curr_id);
                if (index !== -1) {
                    copy.splice(index, 1);
                }

                const url = base_url + 'campaign/' + curr_id + '/?batch_pos=min&compare_with=' + copy.join(',');
                window.open(url, '_blank');
            }
        }
    </script>
{% endblock %}
