{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/style.css' %}">
    {% block stylesheets %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - AnICA UI</title>
</head>

<script type="text/javascript">
function show_docs() {
    const container = document.getElementById("helpcontainer");
    container.style.display = "block";
}

function hide_docs() {
  const container = document.getElementById("helpcontainer");
    container.style.display = "none";
}
</script>

{% block extra_scripts %}
{% endblock %}

<body>
    <div id='topbar'>
        <div id='topbartext'>
        <a href="{% url 'basic_ui:start' %}" style="color:inherit;text-decoration:inherit;">AnICA Explorer</a>
            <span id='topbarpath'>
            {# {% block topbarpath %}{% endblock %} #}
            {% for entry, link in topbarpathlist %}
                /
                <a href="{{link}}">{{entry}}</a>
            {% endfor %}
            </span>
        </div>
        <button id="help-open-button" onclick="show_docs()">Open Docs</button>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="helpcontainer" class="sidecontainer">
        <button id="help-close-button" onclick="hide_docs()">Close Docs</button>
        <h2>Feature Documentation: {{ helptitle }}</h2>
        {{ helpcontent }}
    </div>
</body>
</html>
