{% extends "basic_ui/base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/tooltips.css' %}">
{% endblock %}

{% block title %}Single Discovery{% endblock %}

{% block content %}
    <h3>Discovery:</h3>
    <div style="display:flex;">
        <div style="flex: 0 0 50%;">
            <h4>Original Abstract Block:</h4>
            <div class="indent_content">
            {{ absblock | safe }}
            </div>

            [<a href="{% url 'basic_ui:discovery_json' campaign_id discovery_id %}">raw json</a>]
        </div>

        <div style="flex: 1;">
            <h4>Narrowed Abstract Block:</h4>
            <div class="indent_content">
            {{ min_absblock | safe }}
            </div>
        </div>
    </div>

    <h3>Metrics:</h3>
    <table>
        {% for key, value in stats %}
            <tr>
                <td>{{key}}:</td><td>{{value}}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Plots:</h3>
    {% for plot in plots %}
        <div class="imagecontainer">
            <img src='data:image/png;base64,{{ plot }}'>
        </div>
    {% endfor %}

    <h3>Witness:</h3>
    <ul>
        <li>
            <a href='{% url 'basic_ui:witness' campaign_id discovery_id %}'>Click here to open.</a>
        </li>
    </ul>


{% endblock %}
