{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/witness_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/meas_style.css' %}">
    <title>No Measurements - AnICA UI</title>
</head>

<body class="measbody">
    <div class="center">
      <div class="centerbox">
        Click on a block to show the witnessing measurements.
      </div>
    </div>
</body>
</html>
