{% extends "basic_ui/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'basic_ui/witness_style.css' %}">
{% endblock %}

{% block title %}Generalization Witness{% endblock %}

{% block content %}

<div class="graphcolumn">
<div class="gridcontainer">
    <svg xmlns="http://www.w3.org/2000/svg">
      <defs>
        <marker id="arrowhead" viewBox="0 0 10 10" refX="6" refY="5"
            markerWidth="6" markerHeight="6" fill="grey" stroke="grey" orient="auto">
          <path d="M 2 0 L 10 5 L 2 10 L 5 5 z" />
        </marker>
      </defs>
      <g id="arrow_svg" fill="none" stroke="gray" stroke-width="2" marker-end="url(#arrowhead)">
      </g>
    </svg>

    {{ grid_content | safe}}
</div>
</div>

<div id="measurement_window" class="sidecontainer">
    <button id="measurement_window_close_btn" onclick="hide_measurements()">close</button>
    <iframe id="measurement_iframe" src="{% url 'basic_ui:measurements_empty' %}">loading measurements...</iframe>
</div>

{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript">
        function hide_measurements() {
            const measurement_window = document.getElementById("measurement_window");
            measurement_window.style.display = "none";
            curr_highlighted.style.backgroundColor = null;
            curr_highlighted = null;
        }
        function show_measurements() {
            const measurement_window = document.getElementById("measurement_window");
            measurement_window.style.display = "block";
        }

        var curr_highlighted = null;

        function click_handler(elem, target_url) {
            if (curr_highlighted !== elem) {
                const meas_iframe = document.getElementById("measurement_iframe");
                if (curr_highlighted != null) {
                    curr_highlighted.style.backgroundColor = null;
                }
                curr_highlighted = elem;
                const color_str = window.getComputedStyle(elem).borderColor;
                // this is a bit of a hack to make the color transparent
                elem.style.backgroundColor = color_str.replace("rgb", "rgba").replace(")", ", 0.2)");
                meas_iframe.src = target_url;
            }
            show_measurements();
        }

        function drawConnector(src_id, dst_id) {
          const src = document.getElementById(src_id);
          const dst = document.getElementById(dst_id);
          const svg = document.getElementById("arrow_svg");
          const arrow = document.createElementNS("http://www.w3.org/2000/svg", "path");

          const src_pos = {
            x: src.offsetLeft + src.offsetWidth / 2,
            y: src.offsetTop + src.offsetHeight
          };
          const dst_pos = {
            x: dst.offsetLeft + dst.offsetWidth / 2,
            y: dst.offsetTop - 5
          };
          const d_str =
              "M " + (src_pos.x) + " " + (src_pos.y) + " " +
              "C " +
              (src_pos.x) + " " + (src_pos.y + 20) + "," +
              (dst_pos.x) + " " + (dst_pos.y - 30) + "," +
              (dst_pos.x) + " " + (dst_pos.y);
          arrow.setAttribute("d", d_str);

          svg.appendChild(arrow);
        };

        document.addEventListener("DOMContentLoaded", function(event){
                    {{ connector_js | safe }}
        });
    </script>
{% endblock %}
