
body {
    font-size: 100%;
    background-color: #eee;
}

#topbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}

#topbartext {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10%;
    white-space: nowrap;
    font-size: 32px;
    color: #eee;
}

#topbarpath {
    vertical-align:middle;
    margin-left: 30px;
    font-size: 20px;
}

#topbarpath > a {
    color: #eee;
    text-decoration: none;
}

#content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
}

.code {
  font-family: monospace;
  white-space: pre-line;
}


td.campaigntable, th.campaigntable {
    text-align: center;
    padding: 6px 10px;
}

th.campaigntable {
    background-color: #ccc;
}

/* tr.campaigntable.odd { */
/*     background-color: #ccc; */
/* } */

td.discoverytable, th.discoverytable {
    text-align: center;
    padding: 6px 10px;
}

th.discoverytable {
    background-color: #ccc;
}

table.discoverytable, th.discoverytable, td.discoverytable {
    border-collapse: collapse;
    border: 1px solid #999;
}

ul.pagination > li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

ul.pagination > li.active {
    font-weight: bold;
}

ul.pagination {
    display: inline;
}

/* prettier link formatting */
th > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul.pagination > li > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}


div.absblock {
    text-align: left;
}

div.indent_content {
    margin-left: 20px;
}

ul.absfeaturelist {
    margin-top: 2px;
    margin-bottom: 2px;
}

table.absinsn {
    width: 100%;
}

div.explicit_schemes {
    padding: 20px;
    background-color: white;
    resize: vertical;
    width: auto;
    height: 300px;
    overflow: scroll;
}

tr.absinsn.explicit_schemes {
    visibility: collapse;
}

button {
    margin: 4px;
}
