{% extends "basic_ui/base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/tooltips.css' %}">
{% endblock %}

{% block title %}Campaign Overview{% endblock %}

{% block content %}
    <h3>Tools under Investigation:</h3>
        <ul>
            {% for tool in tool_list %}
                <li>{{tool.full_name}}</li>
            {% endfor %}
        </ul>

    <h3>Termination Condition:</h3>
        <ul>
            {% for condition, value in termination_condition %}
                <li><b>{{condition}}:</b> {{value}}</li>
            {% endfor %}
        </ul>

    <h3>Abstraction Config:</h3>
        {{ abstraction_config | safe }}

    <h3>Prefix Control:</h3>

    This page is currently only displaying results for the first <b>{{ batch_pos }}</b> out of <b>{{ total_batches }}</b> batches of the campaign.<br>

    To show the first <input type="number" id="new_batch_pos" min="1" max="{{ total_batches }}" value="{{ total_batches }}"> instead, click here: <button id="change_prefix" onclick="change_prefix()">change prefix</button>

    <h3>Result Summary:</h3>
    <table>
        {% for key, value in stats %}
            <tr>
                <td>{{key}}:</td><td>{{value}}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Plots:</h3>
    <div class="imagecontainer">
        <img src='data:image/png;base64,{{ discoveries_per_batch_plot }}'>
    </div>

    <h3>Detailed Results:</h3>
        <ul>
            <li><a href="{% url 'basic_ui:all_discoveries' campaign.id %}">All Discoveries</a></li>
        </ul>

{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript">
        function change_prefix() {
            const new_batch_pos = document.getElementById("new_batch_pos").value;
            const current_url = window.location.href.split('?')[0];
            window.location.replace(current_url + '?batch_pos=' + new_batch_pos)
        }
    </script>
{% endblock %}

