{% extends "basic_ui/base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/tooltips.css' %}">
{% endblock %}

{% block title %}Single Campaign{% endblock %}

{% block content %}
    <h3>Tools under Investigation:</h3>
        <ul>
            {% for tool in tool_list %}
                <li>{{tool.full_name}}</li>
            {% endfor %}
        </ul>

    <h3>Termination Condition:</h3>
        <ul>
            {% for condition, value in termination_condition %}
                <li><b>{{condition}}:</b> {{value}}</li>
            {% endfor %}
        </ul>

    <h3>Abstraction Config:</h3>
        {{ abstraction_config | safe }}

    <h3>Prefix Control:</h3>

    This page is currently only displaying results for the first <b>{{ batch_pos }}</b> out of <b>{{ total_batches }}</b> batches of the campaign.<br>

    To show the first <input type="number" id="new_batch_pos" min="1" max="{{ total_batches }}" value="{{ total_batches }}"> instead, click here: <button id="change_prefix" onclick="change_prefix()">change prefix</button>

    <h3>Result Summary:</h3>
    <table>
        {% for key, value in stats %}
            <tr>
                <td>{{key}}:</td><td>{{value}}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Plots:</h3>

    {% for plot in plots %}
        <div class="imagecontainer">
            <img src='data:image/png;base64,{{ plot }}'>
        </div>
    {% endfor %}

    The plots are currently{% if is_comparing %} scaled to be comparable with campaign(s) {{ cmp_campaign_ids }}{% else %} not scaled for comparison{% endif %}.<br>

    To change compare with campaign <input type="number" id="new_cmp_campaign" min="1", max="1000" value="1"> instead, click here: <button id="change_cmp_campaign" onclick="change_cmp_campaign()">change comparison</button> <br>

    {% if is_comparing %}
    To clear this, click here: <button id="clear_cmp_campaign" onclick="clear_cmp_campaign()">clear comparison</button>
    {% endif %}


    <h3>Detailed Results:</h3>
        <ul>
            <li><a href="{% url 'basic_ui:all_discoveries' campaign.id %}">All Discoveries</a></li>
            <li><a href="{% url 'basic_ui:all_insnschemes' campaign.id %}">All occurring Instruction Schemes</a></li>
        </ul>

{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript">
        function change_prefix() {
            const new_batch_pos = document.getElementById("new_batch_pos").value;

            if ('URLSearchParams' in window) {
                var searchParams = new URLSearchParams(window.location.search);
                searchParams.set("batch_pos", "" + new_batch_pos);
                window.location.search = searchParams.toString();
            }
        }

        function clear_cmp_campaign() {
            if ('URLSearchParams' in window) {
                var searchParams = new URLSearchParams(window.location.search);
                searchParams.delete("compare_with");
                window.location.search = searchParams.toString();
            }
        }
        function change_cmp_campaign() {
            const new_cmp_campaign = document.getElementById("new_cmp_campaign").value;

            if ('URLSearchParams' in window) {
                var searchParams = new URLSearchParams(window.location.search);
                searchParams.set("compare_with", "" + new_cmp_campaign);
                window.location.search = searchParams.toString();
            }
        }
    </script>
{% endblock %}

