{% extends "basic_ui/base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic_ui/tooltips.css' %}">
{% endblock %}

{% block title %}Discovery Overview{% endblock %}

{% block content %}
    <h3>Discovery:</h3>
    <div class="indent_content">
    {{ absblock | safe }}
    </div>


    <h3>Metrics:</h3>
    <table>
      <tr>
        <td>geomean interestingness:</td>
        <td>{{ mean_interestingness }}</td>
      </tr>
      <tr>
        <td>sample coverage:</td>
        <td>{{ ab_coverage }}</td>
      </tr>
      <tr>
        <td>witness length:</td>
        <td>{{ witness_length }}</td>
      </tr>
    </table>

    <h3>Plots:</h3>
    <div class="imagecontainer">
        <img src='data:image/png;base64,{{ interestingness_histogram }}'>
    </div>

    <h3>Witness:</h3>
    TODO


{% endblock %}
