
body {
    background-color: var(--content-bg);
}

.measurement {
  margin: 30px;
}

table, th, td {
  border: 1px solid gray;
}

th {
  padding: 10px;
  text-align: left;
}

td {
  padding: 4px 20px;
  text-align: left;
}

table {
  border-collapse: collapse;
}

.asm_comment {
    user-select: none;
    color: gray;
    float: right;
}
