
:root {
    --main-bg: #4c4c4c;
    --help-bg: #333;
    --help-fg: #eee;

    --content-bg: #ddd;
    --topbar-bg: #333;
    --topbar-fg: #eee;
    --help-border: #ccc;
    --table-bg: #ccc;
    --table-fg: black;
    --table-border: #999;
    --link-weak: black;
    --explscheme-col: white;
    --font: serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg: #eee;
        --help-bg: #eee;
        --help-fg: black;
    }
}

/* UdS mode*/
/* :root { */
/*     --main-bg: #eee; */
/*     --content-bg: #e6e6e6; */
/*     --topbar-bg: #004877; */
/*     --help-bg: #e6e6e6; */
/*     --help-border: #01283f; */
/*     --table-bg: #004877; */
/*     --table-fg: #e6e6e6; */
/*     --table-border: #01283f; */
/*     --link-weak: #01283f; */
/*     --explscheme-col: white; */
/*     --font: Arial, "Helvetica Neue", Helvetica, "Liberation Sans", sans-serif; */
/* } */


body {
    font-size: 100%;
    font-family: var(--font);
    background-color: var(--main-bg);
}

#topbar {
    z-index: 1000;
    overflow: hidden;
    background-color: var(--topbar-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}

#topbartext {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10%;
    white-space: nowrap;
    font-size: 32px;
    color: var(--topbar-fg);
}

#topbarpath {
    vertical-align:middle;
    margin-left: 30px;
    font-size: 20px;
}

#topbarpath > a {
    color: var(--topbar-fg);
    text-decoration: none;
}

#content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 60px;
    max-width: 1600px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--content-bg);
}

#helpcontainer {
    z-index: 1100;
}

.sidecontainer {
    display: none;
    position: fixed;
    background-color: var(--help-bg);
    color: var(--help-fg);
    overflow: scroll;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

@media (min-aspect-ratio: 1/1) {/* at least as high as it is wide */
    .sidecontainer {
        width: 40%;
        height: 100%;
        top: 0;
        right: 0;
        resize: horizontal;
        border-left: 6px solid var(--help-border);
    }
}

@media (max-aspect-ratio: 1/1) {/* at least as high as it is wide */
    .sidecontainer {
        width: 100%;
        height: 40%;
        bottom: 0;
        left: 0;
        resize: vertical;
        border-top: 6px solid var(--help-border);
    }
}

#help-open-button {
    position: absolute;
    top: 10px;
    right: 16px;
}

#help-close-button {
    position: fixed;
    top: 10px;
    right: 16px;
}


.code {
  font-family: monospace;
  white-space: pre-line;
}

.code_comment {
    user-select: none;
    color: gray;
    /* float: right; */
}


table.campaigntable {
    margin: auto;
}

td.campaigntable, th.campaigntable {
    text-align: center;
    padding: 6px 10px;
}

th.campaigntable {
    background-color: var(--table-bg);
    color: var(--table-fg);
}

table.discoverytable {
    margin: auto;
}

td.discoverytable, th.discoverytable {
    text-align: center;
    padding: 6px 10px;
}

th.discoverytable {
    background-color: var(--table-bg);
    color: var(--table-fg);
}

table.discoverytable, th.discoverytable, td.discoverytable {
    border-collapse: collapse;
    border: 1px solid var(--table-border);
}

td.insnschemetable, th.insnschemetable {
    text-align: left;
    padding: 6px 10px;
}

th.insnschemetable {
    background-color: var(--table-bg);
    color: var(--table-fg);
}

table.insnschemetable, th.insnschemetable, td.insnschemetable {
    border-collapse: collapse;
    border: 1px solid var(--table-border);
}


ul.pagination > li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

ul.pagination > li.active {
    font-weight: bold;
}

ul.pagination {
    display: inline;
}

/* prettier link formatting */
th > a {
    color: var(--table-fg);
    font-weight: bold;
    text-decoration: none;
}

ul.pagination > li > a {
    color: var(--link-weak);
    font-weight: bold;
    text-decoration: none;
}


div.absblock {
    text-align: left;
}

div.indent_content {
    margin-left: 20px;
}

ul.absfeaturelist {
    margin-top: 2px;
    margin-bottom: 2px;
}

table.absinsn {
    width: 100%;
}

div.explicit_schemes {
    padding: 20px;
    background-color: var(--explscheme-col);
    resize: vertical;
    width: auto;
    height: 300px;
    overflow: scroll;
}

tr.absinsn.explicit_schemes {
    visibility: collapse;
}

button {
    margin: 4px;
}

.imagecontainer {
    margin-bottom: 20px;
    text-align: center;
}

.imagecontainer > img {
    max-width: 100%;
}

.config-diff {
    text-align: left;
}


/* this is used to specify preferred line break locations  */
span.line {
  display: inline-block;
}
